.header__menu-list {
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-right: 27px;
}

@media screen and (min-width: 768px) {
    .header__menu-list {
        margin: 0;
    }
}